.biography{
    color: #e9ebe8;
    font-size: 22px;
    padding: 32px;
    line-height: 200%;
}
.pasion{
    color: #0a0809;
    font-size: 22px;
    padding: 32px;
    line-height: 200%;
    font-weight: bold;
}