*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%
}
.container{
    min-height: 100%;
}

h2{
    color: #e9ebe8;
    margin: 32px;
    line-height: 150%;
}
h3{
    color: #0a0809;
    font-weight: bold;
    padding: 32px;
}